.sidebar {
  width: 350px;
  padding: 20px;
  border-radius: 16px;
 
  box-shadow: 0 8px 24px rgba(255, 182, 193, 0.3);
 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu-card {
  background: #fff0f7;
  border: 1px solid #f8c5d2;
  border-left: 7px solid #f687bd;
  border-radius: 12px;
  margin-bottom: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(255, 182, 193, 0.2);
}

.menu-card:hover {
  background-color: #ffc1cc;
  transform: translateY(-2px);
}

.menu-title {
  padding: 18px 24px;
  font-weight: 600;
  color: #111827;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

.arrow {
  font-size: 16px;
  color: #6b7280;
  transition: transform 0.3s ease;
}

.menu-card:hover .arrow {
  transform: rotate(90deg);
}

.submenu {
  padding: 0 24px 12px 24px;
}

.submenu-item {
  font-size: 1rem;
  color: #6d6b74;
  padding: 8px 16px;
  background: rgba(255, 255, 255, 0.9);
  margin-bottom: 8px;
  border-radius: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.submenu-item:hover {
  background: #f0f1f6;
  transform: scale(1.02);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.submenu-item:last-child {
  margin-bottom: 0;
}