.homepage{
    background: linear-gradient(to bottom, #c7ecff 0%, #f9efff 100%)
}


.homepage .content-box{
    width: 500px;
    height: 500px;
    /* background-color: aqua; */

}

.homepage .content-box h1{
    padding: 10px 0 0 10px;
    margin: 25px 10px ;
    font-size: 60px;
    line-height: 72px;
    font-weight: 700;
}

.homepage .content-box p{
    padding: 10px 0 0 10px;
    margin: 25px 10px ;
    font-size: 20px;
}

.homepage .content-box button{    
    padding: 10px 15px;
    margin: 0 10px ;
    background: linear-gradient(to right, #ffbd84 0%, #ff1f8e 100%);
    color: white !important;
    border-radius: 25px;
}

.homepage .content-box button .circle{

    background: rgba(255, 255, 255, 0.2);
    display: block;
    position: absolute;
    top: -10%;
    right: -130px;
    width: 200px;
    height: 110px;
    border-radius: 50%;
}




.homepage .homepage-img{
    width: 500px;
    height: 500px;
    background-color: rgb(0, 21, 255);
}

.go-to-newpage {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  
  .newpage-btn {
    background-color: #f52887;
    color: white;
    padding: 12px 30px;
    border-radius: 6px;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .newpage-btn:hover {
    background-color: #b041ff;
  }